@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .promo {
        background: 18% 100%/cover no-repeat url('../img/background.svg');
    }
    .about-me {
        .grid-container {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            column-gap: 20px;
            grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 250px);
        }
        &__items {
            column-gap: 15px;
            grid-template-columns: 40px 195px;
        }
    }
    .resume {
        &__wrapper {
            padding: 60px 20px 0 20px;
            column-gap: 65px;
        }
    }
    .use {
        margin-top: 80px;
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 270px);
            justify-content: space-between;
        }
    }
    .scale {
        &__wrapper {
            margin-top: 48px;
            grid-template-columns: repeat(auto-fit, 350px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: space-between;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-between;
            row-gap: 35px;
            .horizonal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        &__wrapper {
            padding: 0;
            grid-template-columns: 300px 400px;
            column-gap: 20px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 100px);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        background-position-x: 40%;
    }
    .title {
        &_fz36 {
            font-size: 30px;
            line-height: 30px;
            margin-top: 20px;
        }
    }
    .about-me {
        .grid-container {
            grid-template-columns: 300px 380px;
            column-gap: 40px;
        }
        &__skills {
            grid-template-columns: 360px;
            grid-auto-rows: minmax(115px, auto);
            row-gap: 0;
        }
        &__items {
            grid-template-columns: 40px 320px;
            column-gap: 20px;
        }
    }
    .resume {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 700px;
            justify-content: center;
            padding-top: 30px;
        }
    }
    .use {
        &__wrapper {
            padding: 0 20px;
        }
    }
    .scale {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 320px);
            justify-content: space-between;
            padding: 0;
            column-gap: 0;
            &__empty {
                width: 100%;
            }
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 320px);
            justify-content: space-around;
        }
    }
}


@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .about-me {
        padding-top: 40px;
        margin-top: 0;
        .grid-container {
            grid-template: 400px auto auto / 1fr;
            
        }
        &__first {
            grid-row: unset;
            img {
                object-fit: cover;
                height: 100%;
            }
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
        }
        &__items {
            grid-template-columns: 40px 200px;
            column-gap: 20px;
        }
    }
    .resume {
        padding-top: 0;
        &__wrapper {
            grid-template-columns: 530px;
            padding-top: 20px;
        }
    }
    .use {
        &__wrapper {
            padding: 0;
            justify-content: center;
            gap: 20px;
        }
    }
    .scale {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 320px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: center;
            margin-top: 40px;
            &__empty {
                width: 100%
            }
        }
    }
    .portfolio {
        padding-top: 40px;
        &__wrapper {
            justify-content: center;
            padding-top: 0px;
            margin-top: 30px;
        }
    }
    .price {
        padding-top: 40px;
        &__wrapper {
            margin-top: 20px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .promo {
        &__btns {
            margin-top: 30px;
        }
        background-position-x: 55%;
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
        }
        &_fz20 {
            font-size: 17px;
        }
    }
    .about-me {
        .grid-container {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
        &__add-left {
            font-weight: 500;
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: 280px;
            padding: 15px 0 0 0;
        }
        &__item-body {
            font-size: 10px;
            padding-left: 20px;
        }
    }
    .use {
        &__wrapper{
            margin-top: 20px;
        }
        .title {
            &_fz36 {
                line-height: 30px;
            }
            &_fz16 {
                margin-bottom: 18px;
            }
        }
    }
    .scale {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 300px);
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 260px);
            padding-left: 10px;
        }
    }
}