.promo {
    min-height: 100vh;
    position: relative;
    background: url(../img/background.svg) no-repeat 100%/cover;
    padding-top: 205px;
    &__title {
        width: 535px;
        margin-top: 10px;    
    }
    .title {
        color: $white-color;
    }
    .promo__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        color: $white-color;
        @include before_circle;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 250px;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        color:$white-color;
        font-weight: bold;
        &:hover {
            color:rgb(16, 110, 29);
            text-decoration: none;
        }
    }
}